.projects-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  justify-content: center;
  user-select: none;
}
.project-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;

  border-radius: 10px;
  background-color: #0e222a;
  box-shadow: 0 0 25px 4px #0e222a;
}
.card-image {
  height: 150px;
  width: 100%;
  padding: 0;

  img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
  }
}
.card-title {
  text-transform: uppercase;
  text-align: center;
  height: 15px;
  margin: 5px auto;
}

.card-desc {
  text-align: start;
  padding: 5px;
  font-size: 14px;
  height: 70px;
}

.card-btn-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.source,
.live {
  width: 100px;
  background-color: darkred;

  &:hover {
    background-color: firebrick;
  }
}
