* {
  margin: 0;
  font-family: sans-serif;
  color: #f9ebff;
  transition: 0.3s ease;
  scroll-behavior: smooth;
}

:root {
  /* breakpoints */
  --mobile-width: 640px;
  --tablet-width: 768px;
  --laptop-with: 1024px;
  --desktop: 1280px;

  /* colors */

  --primary-color: hsl(204, 23.8%, 95.9%);
  --second-color: rgb(205, 205, 205);
  --primary-bg: hsl(220, 41.2%, 10%);
  --assents: hsl(34.9, 98.6%, 72.9%);
  --button: hsl(205.1, 100%, 36.1%);
  --second-bg: hsl(232.7, 27.3%, 23.7%);

  /* fonts */
}
.underline {
  height: 2px;
  width: 30px;
  background-image: linear-gradient(to right, wheat, skyblue, seagreen);
  border-radius: 3px;
}

a {
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Roboto Mono monospace';

  transition: 0.3s ease;

  @media screen and (max-width: var(--tablet-width)) {
    font-size: 20px;
  }
}

p {
  transition: 0.3s ease-in-out;
  font-family: 'Lato', sans-serif;
}
.heading {
  font-family: 'Roboto mono', monospace;
  color: #ffb975;
  text-transform: uppercase;
}

li {
  list-style: none;
}
#root {
  max-width: 100vw;
  width: 100%;
  background-color: #101423;
  height: 100%;
  background-position: center;
}

.btn {
  outline: none;
  border: none;
  text-align: center;
  border-radius: 10px;
  padding: 6px;
  margin: 3px 5px;
  font-family: 'Roboto Mono', monospace;
}
.btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section_divider {
  height: 5px;
  width: 100px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, purple, pink);
}

.line-seperator {
  width: 50px;
  height: 3px;
  margin: 8px auto;
  border-radius: 20px;
  background-color: mediumseagreen;
}
